<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GogetmyGure</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/custom.css')}}">
</head>
<body>
<form action="/successformsubmission" method="post">
<h1 style="text-align: center;font-size:30px;color:blueviolet;">Welcome {{session['name']}}!! Registration completed successfully..</h1>
<div class="header-menu-section">
<p><a class="anchor-button" href="{{url_for('home')}}"><strong>Home</strong></a></p>
<p><a class="anchor-button" href="{{url_for('login')}}"><strong>Login</strong></a></p>
</div>
</form>
</body>
</html>