<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static' filename='css/style.css')}}">
  </head>
<body>
<h1 style="text-align;center;color:crimson;font-size:25px;">Welcome</h1>
<form>
    <div class="table-section">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="firstname"></td>
            </tr>
        </table>

    </div>
</form>
</body>
</html>